@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive|Dancing+Script|Open+Sans|Raleway|Reenie+Beanie&display=swap");

body {
  background-color: pink;
}

.mid {
  text-align: center;
}

/* 
font-family: 'Reenie Beanie', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Cedarville Cursive', cursive; */

.top-line {
  font-family: "Dancing Script", cursive;
  font-size: 15vw;
  color: red;
  /* text-shadow: 0px 5px 0px white; */
  text-shadow: 2px 0 2px black;
}

.warn {
  font-family: "Open Sans", sans-serif;
  font-size: 22vw;
  color: red;
  text-shadow: 0px 3px 0px white;
}

.rale {
  font-family: "Raleway", sans-serif;
  font-size: 8vw;
  color: black;
  text-shadow: 2px 2px 0 hotpink;
}

.rail {
  font-family: "Raleway", sans-serif;
  font-size: 8vw;
  color: rgb(248, 72, 72);
  text-shadow: 1px 1px 0 rgb(255, 0, 128);
}

.bean {
  font-family: "Reenie Beanie", cursive;
  font-size: 16vw;
  color: hotpink;
  text-shadow: 1px 3px 0 black;
  background-color: rgb(233, 221, 221);
}
.movie-box {
  width: 100%;
  height: auto;
  padding-bottom: 74%;
  position: relative;
}

.pic {
  max-width: 100%;
  height: auto;
}

.pics {
  max-width: 200%;
  height: auto;
}

.slideshow-box {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.myslides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.text {
  color: #f2f2f2;
  background-color: black;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 70%;
  text-align: center;
  margin: 3% 5%;
  border-radius: 10px;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
